html,body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}
.b-main-wrap{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	display: flex;
}
.b-game__canvas{
	margin: auto;
	border: 1px solid black;
}